@import 'app/styles/variables.scss';

.lyrics-box {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
  flex: none;
  margin: 1rem 3rem;
  padding: 2rem 0;
  border-radius: 10px;

  color: #ccc;

  font-weight: bold;
  font-size: calc(1.7vw + 1.7vh);

  @media screen and (max-width: $small) {
    margin: 1rem 0;
    border-radius: 0;
  }

  .lyrics {
    color: white;

    ruby {
      display: inline-flex;
      flex-direction: column-reverse;

      rb,
      rt {
        display: inline;
        line-height: 0.5;

        color: #ddd;

        font-size: calc(1.15vw + 1.15vh);
      }
    }
  }
}
