@import 'app/styles/variables.scss';

.playlist-box {
  flex: 1;

  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
  margin: 1rem 3rem;
  padding: 1rem;
  border-radius: 10px;
  height: 15vh;
  font-size: calc(1.2vw + 1.2vh);

  overflow-y: scroll;

  @media screen and (max-width: $small) {
    margin: 1rem 0;
    border-radius: 0;
  }

  table {
    border-collapse: collapse;
    width: 100%;

    tr {
      border-bottom: 2px solid white;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      cursor: pointer;

      td {
        padding: 0.6rem 0.3rem;
        text-align: center;

        &:nth-child(1) {
          width: 2rem;
          border-top-left-radius: 4px;
        }

        &:nth-child(3) {
          width: 30%;
        }

        &:nth-child(5) {
          padding: 0 1rem;

          &:hover {
            color: #e26558;
          }
        }

        &:last-child {
          border-top-right-radius: 4px;
        }
      }

      &.add-song {
        color: rgba(255, 255, 255, 0.9);
        border-bottom: 2px solid rgba(255, 255, 255, 0.7);
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
