@import 'app/styles/variables.scss';

.bottom-bar {
  flex: none;
  height: 8rem;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );

  progress {
    width: 100%;
    &[value] {
      -webkit-appearance: none;
      flex: none;
      color: rgba(0, 0, 0, 0.1);
      height: 1rem;
      text-align: left;
      cursor: pointer;

      &::-webkit-progress-bar {
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.1);
        height: 100%;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &::-webkit-progress-value {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }

  .slider {
    -webkit-appearance: none;
    appearance: none;
    height: 0.7rem;
    border-radius: 5px;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 1rem;
      height: 1rem;
      border-radius: 25%;
      background: rgba(0, 0, 0, 0.4);
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 25px;
      height: 25px;
      background: #4caf50;
      cursor: pointer;
    }

    &.volume-slider {
      margin: 1rem 0;
      width: 40%;

      @media screen and (max-width: $small) {
        width: 100%;
      }
    }
  }

  .control {
    padding: 1rem 0;

    color: white;
    font-size: 1.5em;
    font-weight: white;

    button {
      color: white;
      background-color: rgba(0, 0, 0, 0.3);

      font-size: 0.8em;
      padding: 0.45rem 0.9rem;

      border: none;
      outline: none;

      cursor: pointer;

      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &:disabled {
        color: #ccc;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }
}
