.bottom-bar {
  background-color: rgba(0, 0, 0, 0.2);

  progress {
    width: 100%;
    &[value] {
      -webkit-appearance: none;
      flex: none;
      color: rgba(0, 0, 0, 0.1);
      height: 1rem;
      text-align: left;
      cursor: pointer;

      &::-webkit-progress-bar {
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.1);
        height: 100%;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &::-webkit-progress-value {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }

  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.6);
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 25px;
      height: 25px;
      background: #4caf50;
      cursor: pointer;
    }
  }

  .control {
    padding: 1rem 0;

    color: white;
    font-size: calc(1.5vw + 1.5vh);
    font-weight: white;

    button {
      color: white;
      background-color: rgba(0, 0, 0, 0.3);

      font-size: 0.8em;
      padding: 0.45rem 0.9rem;

      border: none;

      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &:disabled {
        color: #ccc;
      }
    }
  }
}
