.background {
  height: 110vh;
  left: 0;
  position: fixed;
  right: 0;
  display: block;

  z-index: -1;

  &.gradient,
  &:not(.picture) {
    background: #2193b0; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #6dd5ed,
      #2193b0
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0);
  }

  &.picture {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px) brightness(80%);
    -webkit-filter: blur(5px) brightness(80%);
    margin: -5px -10px -10px -5px;
  }
}
