.lyrics-box {
  flex: 1;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
  padding: 4rem 0;
  margin: 0 3rem;
  border-radius: 10px;

  .lyrics {
    color: white;

    font-family: "Mplus 1p", "Noto Sans CJK KR";
    font-weight: bold;
    font-size: 2em;

    ruby rt {
      color: #ddd;
    }
  }
}
