@import "src/styles/variables.scss";

.lyrics-box {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
  margin: 1rem 3rem;
  padding: 1rem 0;
  border-radius: 10px;

  color: #ccc;

  font-weight: bold;
  font-size: calc(1.5vw + 1.5vh);

  @media screen and (max-width: $small) {
    margin: 1rem 0;
    border-radius: 0;
  }

  .lyrics {
    color: white;

    ruby rt {
      color: #ddd;
    }
  }
}
