.bottom-bar {
  flex: none;
  color: white;
  height: 1rem;
  text-align: left;

  background-color: rgba(0, 0, 0, 0.2);

  font-family: "Mplus 1p", "Noto Sans CJK KR";

  .progress {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.25);
    width: 30%;
    height: 100%;
  }
}
